In [2]:
import pandas as pd
import numpy as np

# Create the original DataFrame (headers are actually data values)
df = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe', 'Mary Johnson'],
    'treatmenta': [np.nan, 16, 3],
    'treatmentb': [2, 11, 1]
})

print("Original DataFrame:")
print(df)

# Unpivot/melt so the treatment goes into its own column and the result into another
tidy = (
    df.melt(id_vars='name', var_name='trt', value_name='result')
)

print("\nTidy DataFrame:")
print(tidy)

Original DataFrame:
           name  treatmenta  treatmentb
0    John Smith         NaN           2
1      Jane Doe        16.0          11
2  Mary Johnson         3.0           1

Tidy DataFrame:
           name         trt  result
0    John Smith  treatmenta     NaN
1      Jane Doe  treatmenta    16.0
2  Mary Johnson  treatmenta     3.0
3    John Smith  treatmentb     2.0
4      Jane Doe  treatmentb    11.0
5  Mary Johnson  treatmentb     1.0

In [3]:
import pandas as pd

# Create the original DataFrame (key column holds variable names)
df = pd.DataFrame({
    'machine': ['M', 'M'],
    'date': ['1/1/22', '1/1/22'],
    'key': ['tmin', 'tmax'],
    'value': [15.00, 17.00]
})

print("Original DataFrame:")
print(df)

# Pivot the key/value rows back out into separate columns
wide = (
    df.pivot(index=['machine', 'date'], columns='key', values='value')
      .reset_index()  # optional, removes MultiIndex
)

print("\nWide DataFrame (tidy):")
print(wide)

Original DataFrame:
  machine    date   key  value
0       M  1/1/22  tmin   15.0
1       M  1/1/22  tmax   17.0

Wide DataFrame (tidy):
key machine    date  tmax  tmin
0         M  1/1/22  17.0  15.0

In [5]:
import pandas as pd

# Create the original DataFrame (each transaction is a row)
df = pd.DataFrame({
    'Store': [1, 1, 2],
    'Date': ['1/3/22', '1/3/22', '1/3/22'],
    'TransactionID': ['kdjvi', 'kjdfj', 'geoku'],
    'Amount': [787.00, 1887.40, 1148.30]
})

print("Original DataFrame:")
print(df)

# Aggregate: group by Store and Month, sum Amount
tidy = (
    df.assign(Month=pd.to_datetime(df['Date']).dt.to_period('M'))
      .groupby(['Store', 'Month'], as_index=False)['Amount']
      .sum()
)

print("\nTidy DataFrame (monthly revenue per store):")
print(tidy)

Original DataFrame:
   Store    Date TransactionID  Amount
0      1  1/3/22         kdjvi   787.0
1      1  1/3/22         kjdfj  1887.4
2      2  1/3/22         geoku  1148.3

Tidy DataFrame (monthly revenue per store):
   Store    Month  Amount
0      1  2022-01  2674.4
1      2  2022-01  1148.3

C:\Users\thieu\AppData\Local\Temp\ipykernel_23504\280333810.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.assign(Month=pd.to_datetime(df['Date']).dt.to_period('M'))