In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Team": ["A", "A", "B", "B"],
    "Points": [10, 12, 7, 9],
    "Assists": [5, 7, 3, 4]
})

# 1️⃣  Single aggregate on the whole DataFrame
totals = df.agg("sum")
print(totals)

# 2️⃣  Multiple aggregates after grouping
print(df.head())
team_stats = (
    df.groupby("Team")
        .agg(
            pts_mean=("Points", "mean"),     # named aggregation
            ast_sum =("Assists", "sum")
        )
)
print(team_stats)

Team       AABB
Points       38
Assists      19
dtype: object
  Team  Points  Assists
0    A      10        5
1    A      12        7
2    B       7        3
3    B       9        4
      pts_mean  ast_sum
Team
A         11.0       12
B          8.0        7

In [ ]:
# Standardise Points within each team (z-score)
z_scored = (
    df.groupby("Team")["Points"]
      .transform(lambda x: (x - x.mean()) / x.std(ddof=0))
)
df["Points_z"] = z_scored
print(df)

  Team  Points  Assists  Points_z
0    A      10        5   0.27735
1    A      12        7   1.38675
2    B       7        3  -1.38675
3    B       9        4  -0.27735

In [34]:
df['Quadrat_point'] = df['Points'].transform(lambda x: x**2) # applies the function lamba x: x**2 to each element in the "Points" column
print(df.head())

  Team  Points  Assists  Points_z  Quadrat_point
0    A      10        5   0.27735            100
1    A      12        7   1.38675            144
2    B       7        3  -1.38675             49
3    B       9        4  -0.27735             81

In [32]:
x_means = df["Points"].mean()
print(x_means)
x_means_grouped = df.groupby("Team")["Points"].mean()
print(x_means_grouped)

9.5
Team
A    11.0
B     8.0
Name: Points, dtype: float64