In [2]:
import pandas as pd

df1 = pd.DataFrame({"id": [1, 2], "A": ["A0", "A1"]})
df2 = pd.DataFrame({"id": [4, 5], "A": ["A2", "A3"]})

# 1️⃣  Vertikales Stapeln  (axis=0 ist Standard)
vstack = pd.concat([df1, df2], axis=0, ignore_index=True)
print(vstack)

# 2️⃣  Horizontales Stapeln  (axis=1)
hstack = pd.concat([df1.set_index("id"), df2.set_index("id")], axis=1,
                   join="outer")
print(hstack)

   id   A
0   1  A0
1   2  A1
2   4  A2
3   5  A3
      A    A
id
1    A0  NaN
2    A1  NaN
4   NaN   A2
5   NaN   A3

In [5]:
import pandas as pd

left  = pd.DataFrame({"id": [1, 2, 3], "points": [10, 20, 30]})
right = pd.DataFrame({"id": [2, 3, 4], "grade":  ["B", "A", "C"]})

# 1️⃣  Inner Join – nur übereinstimmende ids
inner = pd.merge(left, right, on="id")
print(inner)

# 2️⃣  Left Join – alle Zeilen aus left behalten
left_join = pd.merge(left, right, on="id", how="left")
print(left_join)

# 3️⃣  Kreuzprodukt (cross)
cross = pd.merge(left, right, how="cross")
print(cross.head())   # 9 Zeilen = 3×3

   id  points grade
0   2      20     B
1   3      30     A
   id  points grade
0   1      10   NaN
1   2      20     B
2   3      30     A
   id_x  points  id_y grade
0     1      10     2     B
1     1      10     3     A
2     1      10     4     C
3     2      20     2     B
4     2      20     3     A

In [13]:
import pandas as pd

df = pd.DataFrame({
    "id": [1, 2],
    "Jan": [11, 12],
    "Feb": [21, 22],
    "Mar": [31, 32]
})
print(df)
# Klassische Anwendung: Monate stehen als Spalten, gehören aber in Zeilen
long = pd.melt(
    df,
    id_vars="id",                 # bleibt stehen
    value_vars=df.columns[1:],  # columns which should be melted
    # or value_vars=["Jan", "Feb", "Mar"],  if you want to specify manually
    var_name="Monat",             # neue Spalte mit den alten Spalten-Labels
    value_name="Umsatz"           # neue Spalte mit den Werten
)
print(long)

   id  Jan  Feb  Mar
0   1   11   21   31
1   2   12   22   32
   id Monat  Umsatz
0   1   Jan      11
1   2   Jan      12
2   1   Feb      21
3   2   Feb      22
4   1   Mar      31
5   2   Mar      32

In [39]:
import pandas as pd

df = pd.read_csv('./data/data.csv')

newdf = df.stack()

print(newdf.to_string())
#Note that we use the to_string() method to return the entire DataFrame.

0  Duration     60.0
   Pulse       110.0
   Maxpulse    130.0
   Calories    409.1
1  Duration     60.0
   Pulse       117.0
   Maxpulse    145.0
   Calories    479.0
2  Duration     60.0
   Pulse       103.0
   Maxpulse    135.0
   Calories    340.0
3  Duration     45.0
   Pulse       109.0
   Maxpulse    175.0
   Calories    282.4
4  Duration     45.0
   Pulse       117.0
   Maxpulse    148.0
   Calories    406.0

1